
body{background-color: blue;
	width: auto;
	height: 900px;
	overflow: auto;
	/*background-attachment: fixed;*/
	

}

#inputForm {
	width: 445px;
	height: 35px;
	margin-top: 50px;
	background-color: #e2e2e2;
	border: solid 3px white;
	color: red;
	opacity: 0.7;
	font-size: 17px;
}

#inputForm:focus {
	outline: none;
}

#myBt {
	height:43px;
	width:80px;
	margin-top: 50px;
	margin-left: 510px;
	padding-top: 3px;
	float: left;
	background-color:red;
	border:3px solid #b8e356;
	color:#b8e356;
	font-family: 'Gloria Hallelujah';
	font-size:14px;
}

#taskList {
	margin-top: 30px;
	width: 300px;
	height: 300px;
	}

.task {
	width: 270px;
	height: 270px;
	margin-top: 30px;
	margin-left: 470px;
	padding: 1px;
	background-color: white;
	font-size: 16px;
	padding-top: 3px;
	padding-left: 5px;
	overflow: auto;

	
}
.task p {
	word-wrap:break-word;
	word-break:normal;
	display:inline-block;
	width: 207px;
	height: 250px;
	background-color: white;
	font-size: 16px;
	font-family: 'Gloria Hallelujah';
	margin-top: 30px;
    margin-left: 21px;
}

#deleteButton {
	height:23px;
	width:20px;
	float: right;
    margin-top: 0px;
	margin-right: 5px;
	background-color: navy;
	border:1px solid navy;
	color:#b8e356;
	font-family:Arial Black;
	font-size:15px;
	padding: 0px;
	cursor: pointer;
	z-index: 10;
	position: absolute;
}
/*speech*/
#startButton {
	height:43px;
	width:80px;
	margin-top: 0px;
	margin-left: 510px;
	padding-top: 3px;
	float: left;
	background-color:black;
	border:3px solid #b8e356;
	color:#b8e356;
	font-family: 'Gloria Hallelujah';
	font-size:14px;
}
#colorDisplay{
	width: 445px;
	height: 34px;
	background-color: #e2e2e2;
	border: solid 3px white;
	color: red;
	opacity: 0.7;
	font-size: 17px;
    float: left;
    margin-top: 1px;

}
/*speech*/



/*Decode*/

#inputForm2 {
	width: 445px;
	height: 35px;
	margin-top: 42px;
    margin-left: -451px;
	background-color: #e2e2e2;
	border: solid 3px white;
	color: navy;
	opacity: 0.7;
	font-size: 17px;
}

#inputForm2:focus {
	outline: none;
}

#myBt2 {
	text-align: center;
	height:43px;
	width:80px;
	margin-top: 42px;
    margin-left: -531px;
	padding-top: 3px;
	float: left;
	background-color:navy;
	border:3px solid #b8e356;
	color:#b8e356;
	font-family: 'Gloria Hallelujah';
	font-size:8px;
}

#taskList2 {
	margin-top: -330px;
	width: 300px;
	height: 300px;
	z-index: 100;
	}

.task2 {
	width: 270px;
	height: 270px;
    margin-top: 30px;
	margin-left: 810px;
	padding: 1px;
	background-color: white;
	font-size: 16px;
	padding-top: 3px;
	padding-left: 5px;
	overflow: auto;


	
}
.task2 p {
	word-wrap:break-word;
	word-break:normal;
	display:inline-block;
	width: 207px;
	height: 250px;
	background-color: white;
	font-size: 16px;
	font-family: 'Gloria Hallelujah';
	margin-top: 30px;
    margin-left: 21px;
}

#deleteButton2 {
	height:23px;
	width:20px;
	float: right;
    margin-top: 0px;;
	margin-right: 5px;
	background-color: navy;
	border:1px solid navy;
	color:#b8e356;
	font-family:Arial Black;
	font-size:15px;
	padding: 0px;
	cursor: pointer;
	z-index: 10;
	position: absolute;
}
#canvas{
	height: 140%;
	width: auto;
	margin-top: -475px;
	margin-left: -12px;
	padding: 0px;
	border: 0px;
	position: absolute;
	z-index: -5;
}


