/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

fieldset {
	border: none;
	display: block;
}
/**********************************************/

/* COLORS */
$light-blue-color: #60c8d1;
$light-blue-transparent: rgba(96, 200, 209, 0.25);
$mid-blue-color: #20bec7;
$red-color: #cf2027;
$white-transparent: rgba(255, 255, 255, 0.2);
$tennis-ball-color: #f4ea84;
$dark-grey: rgba(50,50,50,1);
$light-grey: rgba(180,180,180,1);

/* FONTS */
$t-font: 'Oswald';
$m-font: 'Karla', sans-serif;

/* CIRCLE SIZE */
$tennis-ball: 75px;

body {
	position: relative;
	font-family: $m-font;
	color: #fff;
	overflow-x: hidden;
}

section {
	position: relative;
	min-height: 100%;
  	width: 100%;
  	margin: 0 auto;
}
a {
	text-decoration: none;
}
h1 {
	font-family: $t-font;
	font-weight: 700;
	font-size: 7em;
	color: $red-color;
	margin: 0 auto;
}
/**/
h2 {
	font-family: $t-font;
	font-weight: 700;
	font-size: 3em;
	color: $red-color;
	margin: 0 auto;
}
/* NAV LINKS */
h3 {
	font: $m-font;
	font-size: 1.1em;
	color: #fff;
	margin: 0 auto;
	font-weight: bold;
}
/* FORM */
h4 {
	font: $m-font;
	font-size: 1.1em;
	color: #000;
	margin: 0 auto;
	font-weight: bold;
}
/* MAP POPUP TEXT */
h5 {
	color: $mid-blue-color;
}
p {
	font-family: $m-font;
	font-size: 1em;
	/*margin: 0 auto;*/
}

.titleBand {
	width: 100%;
	min-height: 50px;
	max-height: 150px;
	background-color: $light-blue-color;
	z-index: 0;
}
.fetchTitle {
	height: 25%;
	width: 25%;
	min-height: 45px;
	max-height: 150px;
	z-index: 2;
}

nav {
	font: $t-font;
	margin: 0 auto;
	max-height: 50px;

	.navbar {
		display: block;
		background-color: $light-blue-color;
		width: 100%;
		max-height: 50px;
		margin: 0 auto;
		border-radius: 0;
		border: none;
		text-align: center;
		z-index: 10;
	}
	ul {
		padding: 0;
		margin: 0 auto;
	}
	.navbar-nav {
		float: none;
		width: 40%;
		margin: 0 auto;
		max-height: 50px;
		text-align: center;
		margin: 0 auto;
	}
	li { 
		margin: 0 auto;
		border: none;
	}
	#tennisball {
		width: $tennis-ball + 25px;
		height: $tennis-ball + 25px;
		background: $light-blue-color;
		overflow: hidden;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		padding: 0px;
		z-index: 10;

	}
	li img {
		width: 100%;
		border-radius: 100%;
	}
	a {
		text-decoration: none;
		cursor: pointer;
	}
	a:hover {
		color: $mid-blue-color !important;
		background-color: $light-blue-color !important;
		cursor: pointer;
	}
}

/* FORM */ /* FORM */ /* FORM */ /* FORM */ /* FORM */ /* FORM */ /* FORM */

input {
	border-width: 2px;
	border-color: $red-color;
}
.btn {
	border-width: 2px;
	border-color: $red-color;
}


#browseType {
	background-color: $light-blue-transparent;
	padding: 5vh;

	.row {
		margin-top: 5vh;
		margin-left: 9.3vw;
	}

	.typeIcon {
		width: $tennis-ball * 3.5;
		height: $tennis-ball * 3.5;
		margin-right: 9.3vw;
		background: $mid-blue-color;
		overflow: hidden;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		padding-left: 0;

		a {
			text-decoration: none;
		}

		img {
			position: absolute;
			/*margin-top: 5%;*/
			padding: 5%;
			z-index: 2;
		}

		.typeLabel {
			position: absolute;
			width: 150px;
			margin: auto;
			margin-top: 70%;
			margin-left: 21.5%;
			background-color: $red-color;
			padding: 20px auto 20px auto;
			z-index: 3;

			h2 {
				color: #fff;
				margin: 0 auto;
				text-align: center;
			}
		}
	}
	#dogIcon {
		.typeLabel {
			h2 {
				font-size: 1em;
			}
		}
	}
}
#view {
	width: 100vw;
	background-color: $dark-grey;

	#place-list {
		color: #fff;
		font-size: 1.5em;
		padding: 10%;
		padding-bottom: 5%;

		#typeLabel {
			font-size: 2em;
			font-weight: bold;
			margin-bottom: 5vh;
			color: #fff;
			text-transform: uppercase;
		}

		.title {
			position: relative;
			display: inline;
			font-weight: bold;
			padding-top: 2vh;
			margin-left: 10vw;
			min-width: 250px;
		}
		.rating {
			position: relative;
			display: inline;
			font-weight: normal;
			font-size: 0.8em;
			min-width: 250px;
			margin-left: 8vw;
		}
		.review {
			position: relative;
			display: inline;
			font-weight: normal;
			font-size: 0.8em;
			min-width: 250px;
			margin-left: 8vw;
		}
	}
}
#addNew {
	background-color: $red-color;

	.whiteTransparentWrapper {
		width: 100vw;
		height: 80vh;
		margin: 0 auto;
		top: 0;
		background-color: $white-transparent;
		text-align: center;
		padding-top: 10%;
	}

	form {
		margin-top: 5vh;
	}
	label {
		margin: 0 10px 0 3vw;
	}
	.btn {
		margin: 0 2vw;
	}

	h1, h2, h4 {
		color: #fff;
	}
	h3 {
		color: $light-grey;
	}
	.btn {
		/*margin-top: 3vh;*/
		border-color: $mid-blue-color;
	}
	footer {
		width: 100vw;
		height: 20vh;
		background-color: $dark-grey;
		padding: 5vh;
		z-index: 2;

		.leftFoot {
			float: left;
			text-align: left;
		}
		.middleFoot {
			width: 20%;
			margin: 0 auto;
			text-align: center;
		}
		.rightFoot {
			float: right;
			text-align: right;
		}
		a {
			text-decoration: none;
		}
	}
}




