body.background{
	width: 100%;
	overflow: hidden;
}


#monster1div{
	position: absolute;
	width: 100px;
	height: 50px;
	top: 130px;
	right: 50px;
	background-color: white;
	opacity:0;
	z-index: 7;
}

#monster1{
	position: absolute;
	width: 100px;
	top: 60px;
	right: 40px;
	z-index: -1;


}

#speech2{
	position: absolute;
	width: 100px;
	top: 210px;
	right: 40px;
	z-index: -1;
	display: none;
}
#weather-change{
	width: 50px;
}
#mozartbutton {
	position: absolute;
	top: 150px;
	left: 10px;
	width: 50px;
	height: 50px;
	background-color: white;
	opacity: 0.3;
	z-index:7;
}

#ravelbutton {
	position: absolute;
	top: 210px;
	left: 10px;
	width: 50px;
	height: 50px;
	background-color: white;
	opacity: 0.3;
	z-index: 7;
}
#mozartbanner{
	position:absolute;
	top:0px;
	width: 100%;
	z-index: 3;
}

#ravelbanner{
	position:absolute;
	top:0px;
	width: 100%;
	z-index: 1;
}


#land{

	position:absolute;
	top: 0px;
	width: 100%;
	z-index: 5;
	overflow: hidden;
}
.mozart{

	display: block;
	

}

.ravel{

	display: none;

}
#chord1 {
	position: absolute;
	top: 180px;
	left: 80px;
	height: 530px;
	opacity: 0.5;

}

#chord2 {
	position: absolute;
	top: 180px;
	left: 380px;
	height: 520px;
	opacity: 0.5;

}
#chord3 {
	position: absolute;
	top: 180px;
	left: 670px;
	height: 530px;
	opacity: 0.5;

}
#chord4 {
	position: absolute;
	top: 180px;
	left: 800px;
	height: 530px;
	opacity: 0.5;

}
#chord5 {
	position: absolute;
	top: 180px;
	left: 940px;
	height: 530px;
	opacity: 0.5;

}
#chord6 {
	position: absolute;
	top: 180px;
	left: 1010px;
	height: 530px;
	opacity: 0.5;

}
#chord7 {
	position: absolute;
	top: 180px;
	left: 1090px;
	height: 530px;
	opacity: 0.5;

}

#chord8 {
	position: absolute;
	top: 180px;
	left: 1180px;
	height: 530px;
	opacity: 0.5;

}

#ravel1 {
	position: absolute;
	top: 180px;
	left: 80px;
	height: 530px;
	opacity: 0.5;

}
#ravel2 {
	position: absolute;
	top: 180px;
	left: 210px;
	height: 530px;
	opacity: 0.5;

}
#ravel3 {
	position: absolute;
	top: 180px;
	left: 345px;
	height: 530px;
	opacity: 0.5;

}
#ravel4 {
	position: absolute;
	top: 180px;
	left: 480px;
	height: 530px;
	opacity: 0.5;

}
#ravel5 {
	position: absolute;
	top: 180px;
	left: 620px;
	height: 530px;
	opacity: 0.5;

}
#ravel6 {
	position: absolute;
	top: 180px;
	left: 745px;
	height: 530px;
	opacity: 0.5;

}
#ravel7 {
	position: absolute;
	top: 180px;
	left: 880px;
	height: 530px;
	opacity: 0.5;

}
#ravel8 {
	position: absolute;
	top: 180px;
	left: 1015px;
	height: 530px;
	opacity: 0.5;

}
#ravel9 {
	position: absolute;
	top: 180px;
	left: 1145px;
	height: 530px;
	opacity: 0.5;

}
#rays{

	position: absolute;
	top: 0px;
	right: 200px;
	width: 50%;
	height: 18%;
	z-index: 4;
}

.rainDrop {
    top:0px;
    left:0px;
    position:absolute;
    z-index:1;
    width: 16px;
    height: 24px;
    background-image: url('Raindrop.png');
}

#site {
	top: 0px;
    width:100%;
    height:18%;
    z-index: 2;
    margin:0 auto;
    position:fixed;
    overflow:hidden;
}
