/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}

html, body {
	margin: 0;	
	padding: 0;	
	width: 100%; 
	background-color: #2E6787;
	color: white;
}
/**********************************************/

#main {
	margin: auto;
	margin-top: 50px;
	text-align: center;
	width: 800px;
	position: relative;
	overflow: hidden;
	display: none;
}

#menu{
	margin: auto;
	text-align: center;
	width: 800px;
	position: relative;
}

h1 {
	margin-top: 30px;
	font-family: 'Lobster', sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: #F1F25B;
}

#songs {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 70px;
	font-size: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.cell {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.song-name {
	color: #F1F25B;
}

button {
	width: 120px;
	height: 50px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 20px;
	moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 24px;
	color: white;
	margin-top: 0px;
	margin-left: 2px;
	margin-right: 2px;
	transition: background-color 0.2s;
}

button#test-sing{
	width: 360px;
	margin-bottom: 50px;
}

button:hover {
	background-color: #F1F25B;
	border-color: #F1F25B;
	/*color: #2E6787;*/
	color: black;
}

#playback {
	/*display: none;*/
}

#detector {
	width: 302px;
	height: 70px;
	border: 0px;
	margin: auto;
	margin-top: 30px;
	position: relative;
}

.vague {
	color: rgba(46, 103, 135, 0.5);
}

.pitch, #detune {
	width: 150px;
	height: 70px;
	line-height: 70px;
	background-color: rgba(255, 255, 255, 0.1);
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 24px;
	position: absolute;
}

#detune {
	display: none;
}

.note {
	width: 150px;
	height: 70px;
	line-height: 70px;
	background-color: rgba(255, 255, 255, 0.1);
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: 900;
	position: absolute;
	right: 0;
}

#output {
	width: 300px;
	height: 42px;
}

#flat {
	display: none;
}

#sharp {
	display: none;
}

.flat #flat {
	display: inline;
}

.sharp #sharp {
	display: inline;
}

#left-cover, #right-cover {
	background-color: #2E6787;
	margin-top: 20px;
	/*border: 2px solid blue;*/
	width: 30px;
	height: 432px;
	z-index: 2;
	position: absolute;
	/*display: none;*/
}

#right-cover {
	border: 2px solid black;
	right: 0;
}

#waveform {
	margin-top: 20px;
	margin-left: 30px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	width: 16383px;
	height: 432px;
}

.note-name {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	position: absolute;
	left: 0px;
	z-index: 3;
}

#note-C2 {
	bottom: 20px;
}

#note-A2 {
	bottom: 38px;
}

#note-C3 {
	bottom: 50px;
}

#note-A3 {
	bottom: 85px;
}

#note-C4 {
	bottom: 105px;
}

#note-A4 {
	bottom: 177px;
}

#note-C5 {
	bottom: 212px;
}

#note-A5 {
	bottom: 358px;
}

#note-C6 {
	bottom: 425px;
}

footer {
	/*margin-top: 35px;*/
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	bottom: 15px;
	width: 100%;
}

footer span#line {
	color: rgba(255, 255, 255, 0.1);
}

a {
	color: white;
	text-decoration: none;
	transition: color 0.4s;
}

a:hover {
	color: #F1F25B;
}