@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);

@font-face {
    font-family: LeagueSpartan;
    src: url(fonts/LeagueSpartan-Bold.otf);
}

/*darker 3A806D*/
/*lighter 7AC798*/

body {
	margin: 0px;
	padding: 60px 0px 0px 0px;
}

header{
	position: absolute;
	top: 0;
	width: calc(100vw - 10px);
	border: 5px solid #7AC798;
	font-family: LeagueSpartan, Helvetica, sans-serif;
}

header h1{
	margin: 10px 0px 0px 10px;
	padding: 0px;
}

header #user-profile {
	width: 1.8em;
	height: 1.8em;
	background-color: black;
	position: absolute;
	right: 10px;
	top: 10px;
}

#main-container{
	margin: 2em 0px 0px 2vw;
	height: calc(100vh - 60px - 2em);
	overflow: scroll;
	white-space: nowrap;
}

.date {
/*	background-color: #F1F2ED;
*/	width: 8em;
	height: 100%;
	float: left;
	margin-right: 2.5em;
	text-align: center;
	/*display: inline-block;*/
}

.date h2{
	font-family: LeagueSpartan, Helvetica, sans-serif;
	font-size: .8em;
	margin: 0;
	padding-top: 1em;
}

.link-container{
/*	background-color: #DDDED9;
*/	font-family: LeagueSpartan, Helvetica, sans-serif;
	font-size: 1em;
	width: 10em;
	height: 100%;
	/*float: left;*/
	margin-right: 1em;
	display: inline-block;
	overflow: scroll;
}

.link-items{
	list-style: none;
	padding: 0;
	margin: 0;
}

.link-items li {
	width: 100%;
	height: 2em;
	background-color: #3A806D;
	margin-bottom: .5em;
	text-align: center;
	padding-top: 1em;
	font-size: .8em;
	color: white;
}

.link-items li:hover{
	background-color: #7AC798;
	color: black;
}

.link-items .active{
	background-color: #7AC798;
	color: black;
}

.article-container{
	/*background-color: #C8C9C4;*/
	width: 30em;
	height: calc(100% - 15px);
	/*float: left;*/
	overflow: scroll;
	margin-right: 2.5em;
	margin-left: 1.5em;
	border: 5px solid #7AC798;	
	padding: 0 1.5em;
	display: inline-block;
	white-space: normal;
}

.title {
	font-family: LeagueSpartan, Helvetica, sans-serif;
	margin: 1em 0 .5em 0;
	padding: 0;
}

.author-name{
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 600;
	display: inline;
	float: left;
	margin: 0 0 1em 0;
}

.article-source{
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 600;
	display: inline;
	float: right;
	margin: 0 0 1em 0;
}

.article-text{
	font-family: Raleway, Helvetica, sans-serif;
	font-weight: 300;
	clear: both;
}


#profile-container{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
	display: none;
}

#profile {
	display: inline-block;
	position: absolute;
	top: 20vh;
	left: 20vw;
	width: 60vw;
	height: 60vh;
	background-color: white;
	border: 5px solid #7AC798;
	overflow: scroll;
}

#profile h1 {
	font-family: LeagueSpartan, Helvetica, sans-serif;
	font-size: 1em;
	position: absolute;
	top: 2em;
	left: 2em;
}

#close-profile{
	font-family: LeagueSpartan, Helvetica, sans-serif;
	font-size: 1em;
	position: absolute;
	top: 2em;
	right: 2em;	
	cursor: pointer;
}

.reading-path{
	list-style: none;
	margin-top: 5em;
}

.path{
	margin: 0 0 .25em 0;
	background-color: #7AC798;
	display: inline-block;
	padding-right: 1em;
	float: left;
}

.path h2 {
	font-family: LeagueSpartan, Helvetica, sans-serif;
	font-size: 1em;
	color: white;
	display: inline-block;
	background-color: #3A806D;
	margin: 0 1em 0 0;
	padding: .5em .5em .25em .5em;
	text-align: center;
}

.path p {
	font-family: Raleway, Helvetica, sans-serif;
	display: inline;

}