body {
  background: #75b9e7;
}

h1 {
  margin-bottom: 50px;
  font-size: 50px;
  color: #217dbb;
}

.wrapper {
  margin-top: 100px;
  text-align: center;
}

#play{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #57aae1;
  background: radial-gradient(ellipse at center, #7ebde8, #68b2e4);
  box-shadow: 0 15px 50px #3498db, 0 -15px 60px #b6daf2, inset 0 2px 2px #8bc4ea;
  -webkit-transition: all 0.3s ease;
}
#play:active {
  margin-top: 1px;
  -webkit-transform: scale(0.95);
  -webkit-transition: all 0.3s ease;
  outline: none;
  background: radial-gradient(ellipse at center, #75b9e7, #5faee3);
  box-shadow: 0 15px 80px #3498db, 0 -15px 80px #b6daf2, inset 0 -2px 2px #5faee3;
}
#play:focus {
  outline: none;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #7ebde8;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 100;
}
#popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 55%;
 /* background: #FF4800;*/
  width: 200px;
  height: 200px;
  margin-left: -100px; /*Half the value of width to center div*/
  margin-top: -100px; /*Half the value of height to center div*/
  z-index: 200;
}
#popupclose {
  float: left;
 /* padding: 10px;*/
  cursor: pointer;
  color: #FF4800;
 font-family: 'Raleway', sans-serif;

 width:20px;
 font-weight: 900;
 font-size: 20px;
}


.popupcontent {
  padding: 10px;
}
#button {
  margin: 100px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #57aae1;
  background: radial-gradient(ellipse at center, #7ebde8, #68b2e4);
  box-shadow: 0 15px 50px #3498db, 0 -15px 60px #b6daf2, inset 0 2px 2px #8bc4ea;
  color: #FF4800;
 font-family: 'Raleway', sans-serif;
 font-weight: 900;
 font-size: 20px;

}
 
 p {
 color: #FF4800;
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
 font-size: 20px;
 }





/*//http://codepen.io/jason-kinney/pen/fChrj*/