/* your style begins here */
	body{
		/*background-color: #212121;*/
		 -webkit-transition: .5s ease-in-out; /* Safari */
    	transition: .5s ease-in-out;
		background-color: #F2F2F2;
		font-family: 'Libre Baskerville', serif;
	}

	#title{
		margin-bottom: 30px;
	}

	#title2{
		font-size: 30px;
		color: #4D4D4D;
		margin-bottom: 50px;
	}



	#topics-page{
		margin-top: 600px;
		font-size: 13px;
		text-align: center;
		width: 1200px;
		margin: 0 auto;
	}
	.circle{
		border-radius: 50%;
	    width: 150px;
	    display: inline-block;
	    height: 150px;
	    text-align: center;
	    line-height: 150px;
	    border: solid 1px #4D4D4D;
	    float: left;
	    cursor: pointer;
	}
	.circle:hover{
		box-shadow: 0px 0px 3px yellow;
	}
	#circles{
		display: inline-block;
		margin-top: 40px;
	}
	input[type=text],[type=number] {
  			border: none;
  			border-bottom: solid 1px;
  			font-size: 30px;
  			text-shadow: 5px 0px 10px yellow;
  			color: #4D4D4D;
  			-webkit-transition: stroke-dashoffset 0.3s;
  			margin-top: -20px;
  			background-color: transparent;
  			text-align: center;
  			font-family: 'Poiret One', serif;
		}
		input::-webkit-input-placeholder {
		   text-shadow: none;
		   color: #4D4D4D;
		   opacity: .8;
		 
		}

		input::-moz-placeholder { /* Firefox 18- */
		   text-shadow: none; 
		   color: #4D4D4D;
		   opacity: .8;
		}

		input::-moz-placeholder {  /* Firefox 19+ */
		   text-shadow: none;
		   color: #4D4D4D;
		   opacity: .8;
		}

		input::-ms-input-placeholder {  
		   text-shadow: none;
		   color: #4D4D4D;
		   opacity: .8;
		}

		input:focus::-webkit-input-placeholder { color:transparent; }
		input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
		input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
		input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

		input[type=text]:focus, [type=number]:focus{
			outline: none;
			stroke-dashoffset: 0;
		}
		::-moz-selection { /* Code for Firefox */
    		background: yellow;
		}

		::selection {
		    background: yellow;
		}
		#search-button{
			border: #4D4D4D solid 1px;
  			font-size: 30px;
  			color:#4D4D4D;
  			font-family: 'Poiret One', cursive;
  			background: none;
  			clear: both;
  			position: relative;
  			display: inline-block;
  			cursor: pointer;
  			-webkit-transition:  0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			z-index: 10;
		}
		#search-button:active{
			outline: none;
			color: grey;		
		}
		#search-button:focus{
			outline:none;
			cursor: pointer;
		}
		#date-selector{
			margin-top: 50px;
			width: 400px;
		}
		#query-box{
			clear: both;
		}
		#main-search-page{
			font-size: 30px;
			color: #4D4D4D;
			width: 900px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 600px;
			padding-top: 200px; 
		}

		/*jquery UI*/
		.ui-widget-content {
			height: 6px;
    		border-bottom: 3px #4D4D4D solid;
    		border-radius: 0px;
			height: 3px;
		}

		.ui-slider .ui-slider-handle{

		}

#search-button:after{
		-webkit-transition:  0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		opacity: 0;
		content: '';
		top: 0;
		left: -12;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 0, 0.6);
		pointer-events: none;
	}
	#search-button:hover:after{
			content: '';
		position: fixed;
		top: 0;
		left: 0;
		z-index: -12;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 0, 0.6);
		opacity: 1;
		pointer-events: none;
	}
	#search-button:hover{
		border: none;
		opacity: 120;
		z-index: 10000;
	}
	#search-button:before{

		border: #4D4D4D solid 1px;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: white;
		opacity: 0;
		pointer-events: none;
	}
	#search-button:hover:before{
		content: 'Go';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: white;
		opacity: 1;
		pointer-events: none;
	}

